$colors: (
    primaryDarkColor: #132A13,
    primaryLightColor: #31572C,
    primaryMainColor: #90A955,
    textColor: #ECF39E
);


@function color($color-name) {
    @return map-get($colors, $color-name)
}

body {
    background-color: color(primaryLightColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 9%;
        background: color(primaryDarkColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .logo {
        background-color: rgba(0,0,0,0);
        font-size: 3rem;
        color: color(primaryMainColor );
        font-weight: 600;
        cursor: default;
        text-decoration: none;

    }
    .navbar {
        background-color: color(primaryDarkColor )
        font-size: 2rem;
        color: #fff;
        font-weight: 600;
        cursor: default;
    }
}