:root {
font-weight: 600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
background-color: aliceblue;

}

h1 {
color: black;
font-size: 5rem;
display: flex;
justify-content: center;
}

#back {
background-color: midnightblue;
color: white;
font-size: 2rem;   
margin: 20px; 
}

#clear {
    background-color: midnightblue;
    color: white;
    font-size: 2rem;
    margin: 20px;

}





