body {
  background-color: #31572C;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-container {
position: relative;
text-align: center;
color:white;
}

.hero-image {
  height: 450px;
  object-fit: cover;
  }

.hero-image img {
width: 100%;
height: 100%;
}

.centered {
position: relative
top: 50%;
left: 50%;

}




.container {
  width: 100%;
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  top: 0;
  left: 0;
  width: 90%;
  padding: 2rem 9%;
  background: #132A13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  color: #90A955;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}

.navbar {
  background-color: #132A13;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
}
.navbar a {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.7rem;
  text-decoration: none;
  border: none;
  color: #fff;
  margin-left: 3rem;
  transition: 2s;
}
.navbar a i {
  background-color: rgba(0, 0, 0, 0);
}
.navbar :hover,
.navbar .active {
  color: #ECF39E;
}

.foodResultsContainer{
  display: flex;
  justify-content: space-evenly;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinkResultContainer{
 position: relative;
}

.about {
  display: flex;
flex-wrap: wrap;
justify-content: center;


}

.about-img img {
border-radius: 25px;

}

.about-img2 img {
border-radius: 25px;

}

@media all and (max-width: 200px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
}