$primaryDarkColor: #132A13;
$primaryLightColor: #31572C;
$primaryMainColor: #90A955;
$textColor: #ECF39E;
$showBackground: background-color: rgba(0, 0, 0, 0);

* {
    background-color: $primaryLightColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
width: 100%;
height: auto;
overflow: hidden;

}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: $primaryDarkColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    background-color: $showBackground;
    font-size: 3rem;
    color: $primaryMainColor;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar {
    background-color: $primaryDarkColor;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    cursor: default;

    a {
        background-color: $showBackground;
        font-size: 1.7rem;
        text-decoration: none;
        border: none;
        color: #fff;
        margin-left: 3rem;
        transition: 2s;
    }

    a i {
        background-color: $showBackground;
    }

    :hover,
    .active {
        color: $textColor;
    }
}

.content-wrapper {
width: 80%;
margin: 4% 10% 5% 10%;

img {
width: 100%;

}
}

.text-wrapper {
width: 100%;
position: relative;
margin-top: -40%;

    h1 {
text-align: center;
color: #fff;

    }
}


